<html>
    <body style="height: 48rem;">
        <div class="container -5 " id="sect1">
            <br/>
            <h1 style="text-align: center; color: rgb(226, 18, 18);">Nice!</h1>
            
        
          <div class="container">
             
              <div class="col-md-4 col-lg-2">
                  <br/><br/><br/>
                <h1 style="text-align: center; color: black; font-size: 10rem;" > {{score}}</h1>
              </div>
              <div class="col-md-4 col-lg-2">
                <br/><br/> <br/><br/>
                <button class="btn btn-primary btn-block"  (click)="Result()">View Details</button>
              </div>
           
          </div>
          
          </div>
          
          
          
          
    </body>
</html>

