
<div *ngIf="display1==true && i==0 " class="container my-5" >
    <h1 style="font-weight: bold; color: blue;">Timer: <span style="font-weight: bold; color: red;">{{time1}}</span> </h1>
    <h1> Check those Photos</h1>
    <img src="./assets/img/img1.PNG " class="img-fluid" alt="Responsive image" style="width: 10rem; height: 10rem;">
    <img src="./assets/img/img2.PNG " class="img-fluid" alt="Responsive image" style="width: 10rem; height: 10rem;">
    <img src="./assets/img/img3.PNG " class="img-fluid" alt="Responsive image" style="width: 10rem; height: 10rem;">
    <img src="./assets/img/img4.PNG " class="img-fluid" alt="Responsive image" style="width: 10rem; height: 10rem;">
    <img src="./assets/img/img5.PNG " class="img-fluid" alt="Responsive image" style="width: 10rem; height: 10rem;">
    <img src="./assets/img/img6.PNG " class="img-fluid" alt="Responsive image" style="width: 10rem; height: 10rem;">
    <img src="./assets/img/img7.PNG " class="img-fluid" alt="Responsive image" style="width: 10rem; height: 10rem;">
    <img src="./assets/img/img8.PNG " class="img-fluid" alt="Responsive image" style="width: 10rem; height: 10rem;">
    <img src="./assets/img/img9.PNG " class="img-fluid" alt="Responsive image" style="width: 10rem; height: 10rem;">
    <img src="./assets/img/img10.PNG " class="img-fluid" alt="Responsive image" style="width: 10rem; height: 10rem;">
    <img src="./assets/img/img11.PNG " class="img-fluid" alt="Responsive image" style="width: 10rem; height: 10rem;">
    <img src="./assets/img/img12.PNG " class="img-fluid" alt="Responsive image" style="width: 10rem; height: 10rem;">
</div>

<div class="container mt-5">
    <div *ngIf="i>4 && display==false && display1==false" class="container my-5" >
        <h1 style="font-weight: bold; color: blue;">Timer: <span style="font-weight: bold; color: red;">{{time}}</span> </h1>
        <h3>List of {{tab[i].title}} </h3>
        <h3></h3>
        <div *ngFor="let f of tab[i].answers ; let index = index;">
        
            <div *ngIf="f.img.length>0">
                <span></span>
                <h5 *ngIf="tab[i].order!=15">{{index+1}})- {{f.name}}</h5> 
                <img src={{f.img}} class="img-fluid" alt="Responsive image" style="width: 20rem; height: 20rem;">
            </div>

            <br/>
        </div>
      
    
    </div>
    <div class="d-flex justify-content-center row" *ngIf="display==true && display1==false">
        <div class="col-md-10 col-lg-10">
            <div class="border">
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row justify-content-between align-items-center mcq">
                        <h4>Question ({{i+1}} of 15)</h4><span></span></div>
                </div>
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.{{i+1}}</h3>
                        <h5 class="mt-1 ml-2">{{tab[i].question}}</h5>
                    </div>
                    <div>
                        
                    </div>
                    <div class="ans ml-2" *ngFor="let a of shuffleArray(tab[i].answers);">
                        <div *ngIf="i<5">
                            <div *ngIf="a.img.length>0" >
                                <img src={{a.img}} class="img-fluid" alt="imgAnswer" style="width: 10rem; height: 10rem;"/>
                            </div> 
                        </div>
                      
       <div>
        <label class="radio"> <input type="radio" name="answer" value={{a.name}} [(ngModel)]="ans" (ngModelChange)="onModelChange()"> <span>{{a.name}}</span>
        </label>  
       </div>               
  
</div></div>
                <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white">
                    <button class="btn btn-primary border-success align-items-center btn-success" type="button" [disabled]="disablenext" (click)="next()">Next<i class="fa fa-angle-right ml-2" ></i></button></div>
            </div>
        </div>
    </div>
</div>