<div class="container my-5">
    Timer: <h1>{{time}}</h1>
    <h1> Check those Photos</h1>
    <img src="./assets/img/img1.PNG " class="img-fluid" alt="Responsive image" style="width: 10rem; height: 10rem;">
    <img src="./assets/img/img2.PNG " class="img-fluid" alt="Responsive image" style="width: 10rem; height: 10rem;">
    <img src="./assets/img/img3.PNG " class="img-fluid" alt="Responsive image" style="width: 10rem; height: 10rem;">
    <img src="./assets/img/img4.PNG " class="img-fluid" alt="Responsive image" style="width: 10rem; height: 10rem;">
    <img src="./assets/img/img5.PNG " class="img-fluid" alt="Responsive image" style="width: 10rem; height: 10rem;">
    <img src="./assets/img/img6.PNG " class="img-fluid" alt="Responsive image" style="width: 10rem; height: 10rem;">
    <img src="./assets/img/img7.PNG " class="img-fluid" alt="Responsive image" style="width: 10rem; height: 10rem;">
    <img src="./assets/img/img8.PNG " class="img-fluid" alt="Responsive image" style="width: 10rem; height: 10rem;">
    <img src="./assets/img/img9.PNG " class="img-fluid" alt="Responsive image" style="width: 10rem; height: 10rem;">
    <img src="./assets/img/img10.PNG " class="img-fluid" alt="Responsive image" style="width: 10rem; height: 10rem;">
    <img src="./assets/img/img11.PNG " class="img-fluid" alt="Responsive image" style="width: 10rem; height: 10rem;">
    <img src="./assets/img/img12.PNG " class="img-fluid" alt="Responsive image" style="width: 10rem; height: 10rem;">
</div>