body
{
 margin:0px;
 height:100%;
 width:100%;
 max-width: 100%;
 max-height: 100%;
 background:url('https://i.pinimg.com/originals/db/34/d4/db34d40b271fb59477621550bf73ea0b.jpg'); 
 -webkit-background-size:cover;
 -o-background-size:cover;
 -moz-background-size:cover;
 background-size:cover;
}
